
* {
    padding: 0;
    margin: 0;
}


.menu-container::-webkit-scrollbar {
    display: none;

}

.sub-items{
    display: none;
    padding-top: 10px;
}

.master-item{
    margin-left: 12px;
}

#master-marktdaten:hover #sub-marktdaten {display: block;   transition-duration: 2s;

}
#master-morningstar:hover #sub-morningstar {display: block;}
#master-wp:hover #sub-wp {display: block;}
#master-bloomber:hover #sub-bloomberg {display: block;}


.sub-item{
    padding: 6px;
}

.sublink{
    font-size: 19px;
    color: black;
    margin-left: 15px;
}

.accept-button{
    margin-left: 40px;
    margin-top: 25px;
}

.accept-button > button{
    padding: 10px;
    background-color: #d13939;
    font-size: 15px;
    font-family: monospace;
}

.input-date{
    margin-left: 40px;
}

.input-date > input{
    padding-top: 4px;
    border:2px solid #d13939;
}

.input-date > label{
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}


/* Hide scrollbar for IE, Edge and Firefox */
.menu-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 100%;
    background-color: #d13939;
    border-top-right-radius:  250px;
}

nav {
    position: relative;
    padding: 1px;
    background: #f9f9f9;
    overflow: scroll;
    max-height: 100%;
}

.menuItems{

    margin-right: 30px;
    margin-top: 90px;
}


nav > .menuItems {
    list-style: none;
}

.menuItems > li {
    margin: 20px;
}

.sublink:hover{
    font-size: 22px;
    color: white;

}

li > a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

#wblogo{
    margin-left: 2px;
    height: 90px;
    width: 460px;
}

.amenu:hover{
    font-size: 29px;
    font-weight: 500;
    color: white;

}

.amenu{
    color: black;
}


.body-wrapper{
    display: grid;
    grid-template-rows: 12vh 88vh;
    grid-template-areas:
        "topbar"
        "contentbar";
}

img{
    height: 115px;
}

.topbar{
    grid-area: topbar;
    display: flex;
    grid-template-columns: 1fr  5fr;
}

.logo{
}

.name{
    background-color: yellow;
}


.input{
    background-color: #6521ff;
    height: 115px;
}


.menu{
    position: absolute;
    background: red;

}

.menu-button{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}



.contentbar{
    grid-area: contentbar;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "menu content"
        "menu content";
}

.table-container{
    overflow: scroll;
}

.data-container{
    display: grid;
    grid-template: 50% 50%;
}

.graph-item{

}

.menu-area{
    grid-area: menu;
    margin-top: 30px;
}

.table {
    font-family: "Fira Sans", sans-serif;
    border-collapse: collapse;
}

.table th {
    text-align: left;
    border-top: 2px solid #d13939;
    border-bottom: 2px solid #d13939;
}

.table td,
.search-input {
    font-size: 1em;
    padding: 0.6em 1em;
}

.search-input {
    border: none;
    outline: none;
    font-family: "Fira Sans", sans-serif;
}

.content-area{
    display:grid;
    grid-template-columns: 80% 20%;
    grid-area: content;
    margin-top: 2%;
    margin-left: 2%;

}
