<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="body-wrapper">
    <div class="topbar">
        <div class="logo">
            <img src="img/mdb.png">
        </div>
        <div class="input">
        </div>
    </div>
    <div class="contentbar">
        <div class="menu-area">
            <nav class="menu-container">
                <ul class="menuItems">
                    <li><a class="amenu" href='#' data-item='Devisen'>Devisen</a></li>
                    <li><a class="amenu" href='#' data-item='Devisenvolas'>Devisenvolas</a></li>
                    <li><a class="amenu" href='#' data-item='Geldmarktfuture'>Geldmarktfuture</a></li>
                    <li><a class="amenu" href='#' data-item='Wertpapiere'>Wertpapiere</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Zinsen</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Bloomberg</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                    <li><a class="amenu" href='#' data-item='Home'>Home</a></li>
                </ul>
            </nav>
        </div>
        <div class="content-area">
            <div class="table-container">
                <div class="table-item">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <input type="text" class="search-input" placeholder="Währung 1">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Währung 2">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Kurstyp">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Termin">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Full Name">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Ocwcupation">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Country">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Favorite Movie">
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Reamonn Corkill</td>
                            <td>Pharmacist</td>
                            <td>France</td>
                            <td>Fast and the Furious, The</td>
                            <td>Reamonn Corkill</td>
                            <td>Pharmacist</td>
                            <td>France</td>
                            <td>Fast and the Furious, The</td>
                        </tr>
                        <tr>
                            <td>Dara Lovell</td>
                            <td>Assistant Professor</td>
                            <td>Russia</td>
                            <td>Reamonn Corkill</td>
                            <td>Pharmacist</td>
                            <td>France</td>
                            <td>Fast and the Furious, The</td>
                            <td>Villa Rides!</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="data-container">
                <div class="category-item">
                    <div class="category-items">
                        <div class="category">
                            <a href="http://localhost:8080/Devisen">Devisen</a>
                        </div>
                        <div class="category">
                            <a href="http://localhost:8080/Devisenvolas">Devisenvolas</a>
                        </div>
                        <div class="category">
                            <a href="http://localhost:8080/Wertpapiere">Wertpapiere</a>
                        </div>
                        <div class="category">
                            <a href="http://localhost:8080/Zinsen">Zinsen</a>
                        </div>
                        <div class="category">
                            <a href="http://localhost:8080/Geldmarktfuture">Geldmarktfuture</a>
                        </div>
                    </div>
                </div>
                <div class="graph-item">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
