<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="body-wrapper">
    <div class="topbar">
        <div class="logo">
            <img src="img/mdb.png">
        </div>
        <div class="input">
        </div>
    </div>
    <div class="contentbar">
        <div class="menu-area">
            <nav class="menu-container">
                <ul class="menuItems">
                    <div id="master-marktdaten" class="master-item">
                        <li><a class="amenu" href='#' data-item='Devisen'>Devisen</a></li>
                        <div id="sub-marktdaten" class="sub-items">
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisenvolas' data-item='Devisen'>Devisenvolas</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisen' data-item='Devisen'>Devisen</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Geldmarktfuture' data-item='Devisen'>Geldmarktfuture</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Zinsen' data-item='Devisen'>Zinsen</a></li>
                        </div>
                    </div>
                    <div id="master-morningstar" class="master-item">
                        <li><a class="amenu" href='#' data-item='Devisen'>Morningstar</a></li>
                        <div id="sub-morningstar" class="sub-items">
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisenvolas' data-item='Devisen'>Kursanforderung</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisen' data-item='Devisen'>Börsenparameter</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Geldmarktfuture' data-item='Devisen'>Festlegen Börse</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Zinsen' data-item='Devisen'>Anzeige Schnittstelle</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Zinsen' data-item='Devisen'>Morningstar Daten</a></li>
                        </div>
                    </div>
                    <div id="master-bloomber" class="master-item">
                        <li><a class="amenu" href='#' data-item='Devisen'>Bloomberg</a></li>
                        <div id="sub-bloomberg" class="sub-items">
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisenvolas' data-item='Devisen'>Oneshoot senden</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisen' data-item='Devisen'>Requestdaten ändern</a></li>
                        </div>
                    </div>
                    <div id="master-qc" class="master-item">
                        <li><a class="amenu" href='#' data-item='Devisen'>Quality Check</a></li>
                    </div>
                    <div id="master-wp" class="master-item">
                        <li><a class="amenu" href='#' data-item='Devisen'>WP - Context</a></li>
                        <div id="sub-wp" class="sub-items">
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisenvolas' data-item='Devisen'>Ausnahme Kurssysteme</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisen' data-item='Devisen'>Übersicht Kurssysteme</a></li>
                            <li class="sub-item"><a class="sublink" href='http://localhost:8080/Devisen' data-item='Devisen'>Kurserfassung</a></li>
                        </div>
                    </div>
                    <div id="master-ubs" class="master-item">
                        <li><a class="amenu" href='#' data-item='Devisen'>UBS Vol Cast</a></li>
                    </div>
                    <div id="master-downloads" class="master-item">
                        <li><a class="amenu" href='#' data-item='Devisen'>Downloads</a></li>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="content-area">
            <div class="table-container">
                <div class="table-item">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <input type="text" class="search-input" placeholder="Währung 1">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Währung 2">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Kursfeststellung">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Termin">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Kurs">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Swap">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Kurstyp">
                            </th>
                            <th>
                                <input type="text" class="search-input" placeholder="Valuta">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EUR</td>
                            <td>USD</td>
                            <td>10.12.2013</td>
                            <td>Spot</td>
                            <td>1,13412</td>
                            <td>-0,0000002</td>
                            <td>Mittelkurs</td>
                            <td>20.12.2013</td>
                        </tr>
                        <tr>
                            <td>EUR</td>
                            <td>USD</td>
                            <td>13.12.2013</td>
                            <td>1 Monat</td>
                            <td>1,13132112</td>
                            <td>-0,0000022</td>
                            <td>Mittelkurs</td>
                            <td>1.01.2014</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="data-container">
                <div class="input-item">
                    <div class="input-date">
                        <label for="date1">Datum von </label>
                        <input id="date1" type="text" name="date1" value="10.12.2021">
                    </div>
                    <div class="input-date">
                        <label for="date2">Datum bis </label>
                        <input id="date2" type="text" name="date2" value="12.12.2021">
                    </div>
                    <div class="accept-button">
                        <button type="button" name="button">Aktualisieren</button>
                    </div>
                </div>
                <div class="graph-item">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
