<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="index.css">
    <script th:src="@{index.js}"></script>
    <script src="index.js"></script>
    <link th:href="@{index.css}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css-s">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<div th:fragment="contentbar" id="contentbar">
    <div style="background-color: red;">
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <form>
                        <div class="form-group">
                            <div class='input-group date' id='datepicker1'>
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
		                                <span class="glyphicon glyphicon-calendar" onclick="calender()"></span>
                                    </span>
                            </div>
                            <div class='input-group date' id='datepicker2'>
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon">
		                                <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: yellow;">
        da
    </div>
</div>



<div th:fragment="contentbarx" id="contentbarx">
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <form>
                            <div class="form-group">
                                <div class='input-group date' id='datepicker13'>
                                        <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
		                                <span class="glyphicon glyphicon-calendar" onclick="calender()"></span>
                                    </span>
                                </div>
                                <div class='input-group date' id='datepicker24'>
                                    <input type='text' class="form-control"/>
                                    <span class="input-group-addon">
		                                <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <h1>ddsdsdsds</h1>
</div>

<div th:fragment="menu" id="menu">
        <ul class="dropdown">
            <li><a href="#Anzeige Marktdaten"> Anzeige Marktdaten</a>
                <ul>
                    <li><a href="#Anzeige Marktdaten"> Devisen</a></li>
                    <li><a href="#Anzeige Marktdaten"> Volas</a></li>
                </ul>
            </li>
            <li><a href="http://localhost:8080/bloomberg"> Bloomberg</a></li>
            <li><a href="#Anzeige Marktdaten"> Anzeige Marktdaten</a>
                <ul>
                    <li><a href="#Anzeige Marktdaten"> Devisen</a></li>
                    <li><a href="#Anzeige Marktdaten"> Volas</a></li>
                </ul>
            </li>
            <li><a href="#GMFUT">Morningstar</a></li>
            <li><a href="#Oneshoot">Quality Checks</a></li>
            <li><a href="#home"> WP - Verarbeitung</a></li>
            <li><a href="#Wertpapiere"> WP - Kurserfassung</a></li>
            <li><a href="#Devisenvolas">UBS Vol Cast</a></li>
        </ul>
</div>
</body>
</html>