<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="wrapper">
    <header>
        <h1>MMW-WARBURG BANK</h1>
        <nav>
            <ul>
                <li><a href="#Anzeige Marktdaten"> Anzeige Marktdaten</a></li>
                <li><a href="#Bloomberg"> Bloomberg</a></li>
                <li><a href="#Devisenvolas">Downloads</a></li>
                <li><a href="#GMFUT">Morningstar</a></li>
                <li><a href="#Oneshoot">Quality Checks</a></li>
                <li><a href="#home"> WP - Verarbeitung</a></li>
                <li><a href="#Wertpapiere"> WP - Kurserfassung</a></li>
                <li><a href="#Devisenvolas">UBS Vol Cast</a></li>
            </ul>
        </nav>
    </header>
    <div class="inputwrapper">
        <label>WKN</label>
        <input class="iwrapperbox" name="preis" type="text" size="8" placeholder="WKN/ISIN">
        <label>Waerung</label>
        <select id="cars" name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>
        <label>Kurse von</label>
        <input class="iwrapperbox" name="preis" type="text" size="8" placeholder="WKN/ISIN">
        <label>Kurse bis</label>
        <input class="iwrapperbox" name="ss" type="text" size="8" placeholder="Waerung">

    </div>
</div>
</body>
</html>
